<div class="column col-md-6 col-md-offset-3 form-div">
  <div class="row col-md-12">
    <div class="col-md-12 form-title">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
  </div>

  <div class="well col-md-12 form-well" id="new-user-form">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :address %>
      <%= f.text_field :city %>
      <%= f.text_field :zip %>
      <%= f.text_field :avatar_url %>
      <%= f.text_field :username, autofocus: true %>
      <%= f.email_field :email %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        <span>we need your current password to confirm your changes</span>
      </div>

    <div class="row col-md-12 actions">
      <div class="col-md-12 form-button" id="sign_up">
        <%= f.submit "Sign Up" %>
      </div>
    </div>
  <% end %>
  </div>
</div>