<p id="notice"><%= notice %></p>

<%= @user.first_name %>, <%= @user.email %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<!-- Grid -->
<div class="container">
  <div class="row">

    <div class="span12">
      <div class="hero-unit">
		    <div class="col-md-6 offset-col-md-3">
			    <div id="myCarousel" class="carousel">
	          <div class="carousel-inner">
	            <div class="active item"><%= image_tag("sample-garden.jpg") %></div>
			        <div class="item"><%= image_tag("sample-garden2.jpg") %></div>
			        <div class="item"><%= image_tag("sample-garden3.jpg") %></div>
	          </div>

		      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	        </div>
	      </div>

	      </div>
	    </div>
    </div>
  </div>
</div>