<h1 class="plant_title">Plant Story</h1>

<p id="notice"><%= notice %></p>

<p><%= @plant_types.plant_name %></p>
<p><%= @plant_types.scientific_name %></p>
<p><%= @comments.body %></p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
