<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <%= image_tag(current_user.avatar_url, :id => "avatar") %>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="body_title"><%= current_user.first_name %>'s Gardens</h1>
      <p>About Me: <%= current_user.about_me %></p>
    </div>
    <div class="col-md-3">
    <button class="btn bth-primary btn-lg"><%= link_to "Create New Garden", new_garden_path %></button>
    </div>
  </div>
</div>


  <tbody>
    <% @gardens.each do |garden| %>
      <tr>
        <td><%= link_to 'Show', garden %></td>
        <td><%= link_to 'Edit', edit_garden_path(garden) %></td>
        <td><%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


