
<li id="garden-<%= garden.id %>">
  <span class="name"><%= garden.name %></span>
  <span class="address">Location: <%= garden.address %></span>
  <span class="city-zip">            <%= garden.city %>, <%= garden.zip %></span>
  <span class="date_started">Garden Started: <%= garden.date_started %></span>
  <span class="date_ended">Garden Closed: <%= garden.date_ended %></span>
</li>

