
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Garden Geek</title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Lobster|PT+Sans|News+Cycle' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <link href="bootstrap.min.css" rel="stylesheet"> -->


<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
      <!-- <img src="Vegetable-Cabbage-48.png"> -->
      <%= image_tag("Vegetable-Cabbage-48.png") %>


        <a class="navbar-brand" href="#">Garden Geek</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Gardens</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
</div>
<div>
   
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</div>
<nav class="navbar navbar-default footer">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <img src="Vegetable-Cabbage-48.png"> -->
      <%= image_tag("Vegetable-Cabbage-48.png") %>
      <a class="navbar-brand" href="#">Garden Geek</a>
    </div>
  </div>
</nav>



</html>



</body>
</html>
