
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Garden Geek</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Droid+Serif|Lobster|PT+Sans|News+Cycle' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag("Vegetable-Cabbage-48.png") %>
        <a class="navbar-brand" href="#">Garden Geek</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users/show">Profile</a></li>
        <li><a href="/gardens/show">Gardens</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
</div>

<div>
   
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <br><br>
    <%= yield %>
  </div>

</div>

<nav class="navbar navbar-default footer">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("Vegetable-Cabbage-48.png") %>
      <a class="navbar-brand" href="#">Garden Geek</a>
    </div>
  </div>
</nav>



</html>